
PixelDev Game/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.so
PixelDev Game/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.bundle
PixelDev Game/Assets/StreamingAssets/google-services.json
PixelDev Game/Assets/StreamingAssets/google-services.json.meta
